<div class="main-page">
  <div class="container">

    <h1 class="main-page-title">
      Welcome to <span>FliXInfo</span>
    </h1>

    <div class="sign-up-wrapper">
      <button mat-raised-button (click)="openUserRegistrationDialog()">
        Sign Up
      </button>
    </div>

    <div class="log-in-wrapper">
      <p class="sub-text">
        Already a member?
      </p>
      <button mat-raised-button (click)="openUserLoginDialog()">
        Log In
      </button>
    </div>

  </div>
</div>