<mat-card>
  <mat-card-header>
    <mat-card-title>Update Profile</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <div>
          <label for="Username">Username</label>
          <input id="username" [(ngModel)]='userData.Username' type='text' placeholder='Enter your username'
            name='Username' autocomplete="username" required />
        </div>
        <div>
          <label for="Password">Password</label>
          <input id="password" [(ngModel)]='userData.Password' type='password' placeholder='Enter your password'
            name='Password' required />
        </div>
        <div>
          <label for="Email">Email</label>
          <input id="email" [(ngModel)]='userData.Email' type='email' placeholder='me@google.com' name='Email'
            required />
        </div>
        <div>
          <label for="Birthday">Birthday</label>
          <input id="birthday" [(ngModel)]='userData.Birthday' type='date' name='Birthday' />
        </div>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)='editUser()' color="primary">Update</button>
  </mat-card-actions>
</mat-card>